{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": {{.ListenPort}},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{.UUID}}",
            "flow": ""
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/tunnel"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom"
    }
  ]
}
